@model IEnumerable<honghwaLessionMVC.Models.ViewModels.ShowDataModel>

@{
    ViewBag.Title = "ShowData";
    Layout = null;
}

<table class="table">
    <tr>
        <th>#</th>
        <th>類別</th>
        <th>日期</th>
        <th>金額</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
        </tr>
    }

</table>
